APP="this is app name"
LANG="zh-cn"
MYSQL="root:root@tcp(127.0.0.1:3306)/giligili?charset=utf8mb4&parseTime=True&loc=Local"
REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB=""
GIN_MODE="debug"
LOG_LEVEL="debug"